.none
    display none
.block
    display block
.runLeft
    animation runLeft 1s ease forwards
@keyframes runLeft
    to
        transform translateX(-242px)

.runRight
    animation runRight 1s ease forwards
@keyframes runRight
    to
        transform translateX(242px)
.scrollLeft
    animation scrollLeft 0.7s ease forwards
@keyframes scrollLeft
    to
        transform translateX(-300px)
.scrollRight
    animation scrollRight 0.7s ease forwards
@keyframes scrollRight
    to
        transform translateX(300px)
